
.logo img {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

.nav-content {                       
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #125784;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #125784;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

main {
    background-color: #f57f17;
    padding: 20px;
}

.blue-section h1 {
    font-size: 28px; 
    margin-bottom: 10px; 
}

.blue-section {
    background-color: #125784;
    color: #fff;
    padding: 80px;
    background-image: url('img1.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
}

.purple-section {
    background-color: #5e35b1;
    color: #fff;
    padding: 20px;
}


.orange-section {
    background-color: #f57f17;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.images-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; 
}

.images-container img {
    width: 200px; 
    height: 200px; 

.orange-bar {
    background-color: #ffa000;
    padding: 20px;
    border-radius: 5px;
    width: 100%; 
    text-align: center;
}

.orange-bar h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

/* Your other CSS styles here */






